   @model List<MarvinBlogv._2._0.Models.ViewModel.ListPostVM>
@{
    Layout = "BloggerDashboard";
}


@if (Model.Count() > 0)
{
    @foreach (var post in Model)
    {
      
                <h5><b class="card-title" style="color:black">@post.PostTitle.ToUpper() </b></h5>

                   
                <img width="300" height="150" style="border-radius:5px; border:1px solid #bbb" src="@WC.PostImagePath@post.ImageUrl" />

                   
                <div class="target">@Html.Raw(@post.Content)</div>
       
                    @foreach (var category in post.PostCategories)
                    {
                        <a class="font-weight-bold btn" style="color:white; background-color:dimgrey; border-radius:10%; display:inline">@category.Name</a>
                    }
                    
        <div class="col-md-12">
            <h6>@post.CreatedAt.ToShortDateString()</h6>
        </div>
    }
}

else
{
    <p> No Posts exists.</p>
}
