@model MarvinBlogv._2._0.Models.ViewModel.UserProfileVM

@if (ViewBag.Role == "SuperAdmin")
{
    Layout = "_AdminDashboardLayout";
}
else
{
    Layout = "BloggerDashboard";
}
<div class="container">
    <div class="text-center">
        <span style="color:grey; font-size:100px"><i class="fas fa-user-circle"></i></span><br />
        <span style="color:black; font-size:35px; margin-right:30px; margin-left:60px">@Model.Fullname</span>
        @if (Model.UserLogEmail != ViewBag.email && ViewBag.Role != "SuperAdmin")
        {
        @if (Model.IsFollowing == false)
        {
            <a class="btn btn-primary" asp-controller="Blogger" asp-action="AddFollowerFromProfile" asp-route-id="@Model.UserId"><i class="fas fa-check"></i> Follow</a>
        }
        else
        {
            <a class="btn btn-success" asp-controller="Blogger" asp-action="Unfollow" asp-route-id="@Model.UserId"> UnFollow</a>
        }
    }
        <br />
        <span class="font-weight-bolder" style="color:gray"><span style="color:black">@Model.NoOfPosts</span> Posts</span>   | <span class="font-weight-bolder" style="color:gray"><span style="color:black">@Model.Followers</span> Followers</span> |
        <span class="font-weight-bolder" style="color:gray"><span style="color:black">@Model.Following</span> Following</span>
    </div><br /><hr />

   @if (Model.ListOfPosts.Count() > 0)
    {
        @foreach (var post in Model.ListOfPosts)
        {
            <span style="font-size:30px; color:grey"><i class="fas fa-user-circle"></i></span> <a href="#"
        style="font-size:15px; margin-right: 50px;text-decoration:none; color:black"
        class="font-weight-bold">@post.PosterFullName</a>
            @foreach (var category in post.PostCategories)
            {
                <a style="border-radius:20px; margin-left: 20px; color:black; border-color:black" asp-controller="Category"
        asp-action="GetPostByCategoryId" asp-route-Id="@category.Id"
        class="font-weight-bold btn btn-outline-light">@category.Name</a>
            }
            

            <h2 class="text-center font-weight-bold" style="font-family:'Times New Roman'">@post.PostTitle</h2>
            <img style="width:80%; height:500px; margin-left:15%" src="@WC.PostImagePath@post.ImageUrl" alt="image not found" />
            <div>
                <a style="color: black; margin-left: 10px" asp-controller="Blogger" asp-action="Detail" asp-route-id="@post.Id">
                    <h5>@post.Description</h5>
                </a>
            </div><br />
            <a style="margin-left:20px" asp-controller="Review" asp-action="GetReviewByPostId" asp-route-Id="@post.Id"><i
            class="fa fa-thumbs-up" aria-hidden="true"></i></a> <span class="font-weight-bold">@post.Like</span>
            <a style="margin-left:20px; color:slategrey" asp-controller="Review" asp-action="GetReviewByPostId"
        asp-route-Id="@post.Id"><i class="fa fa-comment-alt" aria-hidden="true"></i></a> <span
        class="font-weight-bold">0</span>@post.Comment
            <br />
            <hr /><br />

        }
    }
    else
    {
        <h4 class="text-center font-weight-bold font-italic" style="color:grey">No Posts have been by <span style="color:black"><em>Blogger</em>  @Model.Fullname</span> made so far...</h4>
    }



</div>

